  <div class="header-container">
    <h1><span class="serif">Book</span><br /> REVIEWS</h1>
    <star-rating ng-model="vm.averageUserRating" max="vm.maxUserRating" ng-if="!vm.isLoading"></star-rating>
    <h5 ng-if="!vm.isLoading">{{ vm.totalReviews }} Total Reviews</h5>
    <h5 ng-if="vm.isLoading">Loading...</h5>
  </div>

<div class="reviews" ng-if="!vm.isLoading">

  <div class="content-container">
    <div class="user-types">
      <h4 style="border-bottom: 1px solid #ccc;">SEE REVIEWS FROM:</h4>
      <a ng-class="vm.query.user.type === type ? 'is-selected' : 'is-not-selected'" class="ribbon is-everyone" ng-click="vm.showEveryone()">EVERYONE <br /> ({{ vm.totalReviews }})</a>
      <a ng-class="vm.query.user.type === type ? 'is-selected' : 'is-not-selected'" class="ribbon is-{{ type }}" ng-repeat="(type, count) in vm.userTypes" ng-click="vm.setQuery(type, count)">
        {{ type | uppercase }}S  <br />  ({{ count }})
      </a>
    </div>

    <div class="sort-filter">
      <!-- Search: <input ng-model="vm.query"> -->
      <!-- How Many: <input ng-model="vm.quantityLimit"> -->
      <div class="sort-filter__title">
        <h2><span class="serif">{{vm.orderPropValues[vm.orderPropSelected]}}</span><br /> REVIEWS</h2>
      </div>
      <div class="sort-filter__options is-mobile">
        See reviews from:
        <select ng-model="vm.selectedUserType">
          <option value="everyone">EVERYONE <br /> ({{ vm.totalReviews }})</option>
          <option value="{{type}}" ng-repeat="(type, count) in vm.userTypes">
            {{ type | uppercase }}S  <br />  ({{ count }})
          </option>
        </select>
      </div>
      <div class="sort-filter__options">
        Sort by:
        <select ng-model="vm.orderPropSelected">
          <option ng-repeat="(value, title) in vm.orderPropValues" value="{{ value }}">{{ title }}</option>
        </select>
      </div>
    </div>


    <!-- Review Template -->
    <div class="review" ng-repeat=" review in vm.reviews |
                                    filter:vm.query |
                                    orderBy:vm.orderPropSelected:true |
                                    limitTo:vm.quantityLimit">
      <div class="meta is-{{ review.user.type }}">
        <div class="meta__img">
          <img src="http://placehold.it/50x50" alt="{{ review.book_type }}">
        </div>
        <div>
          <div class="meta__date">{{ review.date | date:'longDate' }}</div>
          <div class="meta__name ">{{ review.user.firstname | uppercase }} {{ review.user.lastname | uppercase }}</sup></div>
          <div class="meta__book-type">{{ review.book_type }}</div>
        </div>
      </div>
      <div class="title">
        <div class="title__rating">
          <star-rating ng-model="review.rating" max="vm.maxUserRating" style="small-star"></star-rating>
        </div>
        <div class="title__title">
          <h3>{{ review.title | uppercase }}</h3>
        </div>
      </div>
      <div class="review__content">{{ review.content }}</div>
      <!-- <a href="#" class="read-more">Read More...</a> -->

      <div class="footnotes">
        {{ review.helpful_count }} out of {{ review.helpful_count + review.not_helpful_count }} found this review helpful.
        <br />Was this review helpful to you?
        <button ng-click="vm.vote(review.id, true)">Helpful</button>
        <button ng-click="vm.vote(review.id, false)">Not Helpful</button>
      </div>

    </div>

    <div class="bottom-container">
      <button ng-click="vm.seeAll()" ng-if="!vm.isSeeAll">SEE ALL {{ vm.totalReviewsByType }} REVIEWS</button>
      <button ng-click="vm.seeLess()" ng-if="vm.isSeeAll">SEE LESS</button>
      <button>ADD A REVIEW</button>
    </div>
  </div>

  <div class="side-container">
    <div class="average-container">
      <star-rating ng-model="vm.averageUserRating" max="vm.maxUserRating"></star-rating>
      <div class="info-text">Average Rating: {{ vm.averageUserRating }} of {{ vm.maxUserRating }} stars</div>
      <div class="average-graph" ng-repeat="rating in vm.ratings | orderBy:'id':true">
        <div class="average-graph__star">
          {{ rating.id }} STAR
        </div>
        <div class="average-graph__bar">
          <div class="average-graph__bar__filled" style="width: {{ rating.value }}%;"></div>
        </div>
        <div class="average-graph__count">
          ({{ rating.value }})
        </div>
      </div>
      <a href="#" ng-click="vm.viewAll()">View All {{ vm.totalReviews }} Reviews</a>
    </div>
  </div>

</div>
