/*
 * Main Layout
 *
 */

body {
  background-color: $bg-color-primary;
}

.navigation {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-fixed-top;

  height: 46px;
  background-color: $app-gray-darker;

  &__brand {
    @extend .navbar-brand;
  }

  &__links {
    @extend .nav;
    @extend .navbar-nav;
  }
}

.main-container {
  @extend .container;
  margin-top: 46px;

  @include respond-to(small) {
    padding-left: 0;
    padding-right: 0;
  }
}

.header-container {
  text-align: center;
  margin-bottom: 0px;

  h5 {
    margin-top: 0;
    color: $app-color-primary !important;
  }

  .star-rating {
    margin-top: -4px;
  }

  .star {
    color: #fff !important;
    text-shadow: .12em .12em .15em #bebebe;
  }
}

.content-container {
  @extend .col-md-8;
}

.side-container {
  @extend .col-md-4;
}

.bottom-container {
  padding-top: 20px;
  line-height: 12px;
}

// Buttons
.btn {
  border-radius: 8px;

  &.is-right {
    float: right;
  }

  &.is-small {
    font-size: 12px;
  }

  .glyphicon {
    font-size: 18px;
    vertical-align: bottom;
  }
}

.btn-default {
  font-family: $headings-font-family;
  font-size: 12px;
  color: $app-color-primary;
  background-color: #fff;
  border: 1px solid #e1e1e1;

  .glyphicon {
    padding-left: 5px;
  }
}

.btn-primary {
  font-family: $headings-font-family;
  font-size: 12px;
  color: #fff;
  background-color: $app-color-primary;
  border: none;

  .glyphicon {
    padding-right: 5px;
  }
}

.btn-link {
  color: $app-color-primary;
  font-size: 14px;
  padding: 0;

  .glyphicon {
    font-size: 10px;
    vertical-align: middle;
    padding-bottom: 3px;
  }
}

.button-flag {
  float: none;

  &::before {
    content: '| ';
  }

  @include respond-to(600px) {
    float: right;

    &::before {
      content: '';
    }
  }
}
