/*
 * Main Layout
 *
 */

body {
  background-color: $bg-color-primary;
}

.navigation {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-fixed-top;
  height: 48px;
  min-height: 48px;
  border: none;
  background-color: $app-gray-darker;

  &__brand {
    @extend .navbar-brand;
    padding: 10px 10px;
    margin-left: -3px !important;

    img {
      width: 75px;
      height: 32px;
      color: #fff;
    }
  }

  &__links {
    @extend .nav;
    @extend .navbar-nav;
  }
}

.main-container {
  @extend .container;
  margin-top: 46px;

  @include respond-to(small) {
    padding-left: 0;
    padding-right: 0;
  }
}

.header-container {
  text-align: center;
  margin-bottom: 14px;

  h5 {
    margin-top: 0;
    color: $app-color-primary !important;
  }

  .star-rating {
    margin-top: -4px;
  }

  .star {
    color: #fff !important;
    text-shadow: .12em .12em .15em #bebebe;
  }
}

.content-container {
  @extend .col-md-8;
}

.side-container {
  @extend .col-md-4;
}

.bottom-container {
  padding-top: 20px;
  line-height: 12px;
},

.link-seperator {
  &::before {
    content: '|';
    font-weight: normal;
    color: #c1c1c1;
  }
}

// Buttons
.btn {
  border-radius: 8px;

  &.is-right {
    float: right;
  }

  &.is-small {
    font-size: 12px;
  }

  .glyphicon {
    font-size: 18px;
    vertical-align: bottom;
  }
}

.btn-default {
  font-family: $headings-font-family;
  font-size: 12px;
  color: $app-color-primary;
  background: linear-gradient(to bottom, #fff 0%, #fff 50%, #fbfbfb 51%, #f2f2f2 100%);
  background-color: #fff;
  border: 1px solid #dfdfdf;

  .glyphicon {
    padding-left: 5px;
  }
}

.btn-primary {
  font-family: $headings-font-family;
  font-size: 12px;
  color: #fff;
  background: linear-gradient(to bottom, #6db9bf 0%, #6db9bf 50%, #59afb7 51%, #48a7af 100%);
  background-color: $app-color-primary;
  border: none;

  .glyphicon {
    padding-right: 5px;
  }
}

.btn-link {
  color: $app-color-primary;
  font-size: 14px;
  padding: 0;

  .glyphicon {
    font-size: 10px;
    vertical-align: middle;
    padding-bottom: 3px;
  }
}

.button-flag {
  float: none;
  display: block;

  @include respond-to(600px) {
    float: right;
    display: inline-block;
  }
}
